{% extends "layout.html" %}
{% block style %}

<style>
    input[type=text],
    input[type=password],
    input[type=email] {
        width: 90%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

    input[type=text]:focus,
    input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }

    /* Set a style for all buttons */
    button {
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    button:hover {
        opacity: 1;
    }

    /* Extra styles for the cancel button */
    .content-section {
        width: 40%;

        position: relative;
        top: 50px;
        bottom: 0;
        left: 0;
        right: 0;

        margin: auto;
    }

    .text-muted {
        position: relative;
        top: 50px;
        left: 40%;

    }

    .signupbtn {
        float: left;
        width: 50%;
    }

    /* Add padding to container elements */
    .container {
        padding: 16px;
    }

    /* Clear floats */
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    /* Change styles for cancel button and signup button on extra small screens */
    @media screen and (max-width: 300px) {

        .cancelbtn,
        .signupbtn {
            width: 100%;
        }
    }

    /* Add a black background color to the top navigation */
    .topnav {
        background-color: white;
        overflow: hidden;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        display: block;
        color: #ffffff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    /* Add an active class to highlight the current page */
    .topnav a.active {
        background-color: #04AA6D;
        color: white;
    }

    .topnav a.right {
        background-color: #04AA6D;
        color: rgb(255, 255, 255);
        float: right;
    }

    /* Hide the link that should open and close the topnav on small screens */
    .topnav .icon {
        display: none;
    }
</style>
{%endblock style%}

{% block content %}

<div class="topnav" id="myTopnav">
    <a href="{%url 'home'%}" class="active">Home</a>
    <a href="{%url 'login'%}" class="active">Dashboard</a>
    <a href="{%url 'login'%}" class="active">Account</a>
    <a href="{%url 'signup'%}" class="right">Register</a>

</div>
<br>
<div class="content-section">
    <h2>
        <p class="text-center ">Hi! {{ username}},</p>
    </h2>
    <form method="POST">
        {%csrf_token%}
        <tr>
            <th><label><h2>Choose a Subscription Plan:</h2></label></th>
            <td>
                <ul class="errorlist">
                    <li>This field is required.</li>
                </ul>
                <div id="id_subscription_plan">
                    <div>
                        <label for="id_subscription_plan_0"><input type="radio" name="subscription_plan"
                                value="Free_Plan" required id="id_subscription_plan_0">
                                <strong>Free Plan</strong></label>
                        <p> &emsp; -- Free plan is basically a trial plan for new users</p>
                        <p> &emsp; -- You get 5GB of total cloud space on going with the free plan</p>


                    </div>
                    <div>
                        <label for="id_subscription_plan_1"><input type="radio" name="subscription_plan"
                                value="Student_Plan" required id="id_subscription_plan_1">
                            <strong>Student Plan</strong></label>
                        <p> &emsp; -- Student plan is for students where student can store all their course work, </p>
                        <p> &emsp; i.e. notes, assignments etc. </p>
                        <p> &emsp; -- Get 10Gb of cloud storage on this student plan at 5$</p>


                    </div>
                    <div>
                        <label for="id_subscription_plan_2"><input type="radio" name="subscription_plan"
                                value="Organisation_Plan" required id="id_subscription_plan_2">
                            <strong>Organisation Plan</strong></label>
                        <p> &emsp; -- Organisation plan is for startups or small companies who want to store all their
                        <p> &emsp; information like important documents, official work etc. on cloud </p>
                        <p> &emsp; -- Get 25Gb of cloud storage on this student plan at 15$</p>
                        <p> &emsp; -- For organisation we can also provide custom storage space</p>

                    </div>
                </div>


            </td>
        </tr>
        <button type="submit" class="button"> Sign up </button>
</div>
</form>
</div>

{% endblock content%}