{% extends "layout.html" %}
{% block style %}

<style>
    input[type=text],
    input[type=password],
    input[type=email] {
        width: 90%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

    input[type=text]:focus,
    input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }

    /* Set a style for all buttons */
    button {
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    button:hover {
        opacity: 1;
    }

    /* Extra styles for the cancel button */
    .content-section {
        width: 40%;

        position: relative;
        top: 50px;
        bottom: 0;
        left: 0;
        right: 0;

        margin: auto;
    }

    .text-muted {
        position: relative;
        top: 50px;
        left: 40%;

    }

    .signupbtn {
        float: left;
        width: 50%;
    }

    /* Add padding to container elements */
    .container {
        padding: 16px;
    }

    /* Clear floats */
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    /* Change styles for cancel button and signup button on extra small screens */
    @media screen and (max-width: 300px) {

        .cancelbtn,
        .signupbtn {
            width: 100%;
        }
    }

    /* Add a black background color to the top navigation */
    .topnav {
        background-color: rgb(230, 205, 205);
        overflow: hidden;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        display: block;
        color: #ffffff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    /* Add an active class to highlight the current page */
    .topnav a.active {
        background-color: #04AA6D;
        color: white;
    }

    .topnav a.right {
        background-color: #04AA6D;
        color: rgb(255, 255, 255);
        float: right;
    }

    /* Hide the link that should open and close the topnav on small screens */
    .topnav .icon {
        display: none;
    }
</style>
{%endblock style%}

{% block content %}

<div class="topnav" id="myTopnav">
    <a href="{%url 'home'%}" class="active">Home</a>
    <a href="{%url 'login'%}" class="active">Dashboard</a>
    <a href="{%url 'login'%}" class="active">Account</a>
    <a href="{%url 'signup'%}" class="right">Register</a>

</div>
<br>
<div class="content-section">
    <form method="POST" style="border:1px solid #ccc">
        {%csrf_token%}
        <tr>
            <th><label for="id_username">Hi,</label></th>
            <td>
                <input class="user" type="text" name="username" maxlength="50" required id="id_username" value={{username}} readonly>        
            </td>
        </tr>
        <tr>
            <th><label>Choose a Subscription Plan:</label></th>
            <td>
                <ul class="errorlist">
                    <li>This field is required.</li>
                </ul>
                <div id="id_subscription_plan">
                    <div>
                        <label for="id_subscription_plan_0"><input type="radio" name="subscription_plan"
                                value="Free_plan" required id="id_subscription_plan_0">
                            Free plan</label>

                    </div>
                    <div>
                        <label for="id_subscription_plan_1"><input type="radio" name="subscription_plan"
                                value="Student_plam" required id="id_subscription_plan_1">
                            Student Plan</label>

                    </div>
                    <div>
                        <label for="id_subscription_plan_2"><input type="radio" name="subscription_plan"
                                value="Organisation_Plan" required id="id_subscription_plan_2">
                            Organisation Plan</label>

                    </div>
                </div>
                

            </td>
        </tr>
        <button type="submit" class="button"> Sign up </button>
</div>
</form>
</div>

{% endblock content%}